<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.megazlo.apnea">

	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
		android:allowBackup="true"
		android:backupAgent=".ApneaBackupHelper"
		android:fullBackupContent="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_ico"
		android:label="@string/app_name"
		android:restoreAnyVersion="true"
		android:screenOrientation="portrait"
		android:supportsRtl="false"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAIMWsrDSSGn6q4g7En2PgtRuCaFC7c-cGtfyyOPg"/>

		<activity
			android:name=".MainAct_"
			android:alwaysRetainTaskState="true"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/main_act_title"
			android:launchMode="singleTop"
			android:theme="@style/AppTheme.Branded"
			android:windowSoftInputMode="stateHidden|adjustPan">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<service
			android:name=".ApneaForeService_"
			android:stopWithTask="true"/>

	</application>
</manifest>